## **TelecomX: Predicción de Cancelación (Churn)**

### **Preparación de los datos**

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('../data/telecomX_processed.csv')
df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas_Diarias
0,0002-ORFBO,No,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,No,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,Yes,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,0,0,13,1,0,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,9992-RRAMN,Yes,Male,0,1,0,22,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,9992-UJOEL,No,Male,0,0,0,2,1,0,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,9993-LHIEB,No,Male,0,1,1,67,1,0,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,9995-HOTOH,No,Male,0,1,1,63,0,No phone service,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

In [16]:
# Eliminar columna del ID del cliente.
df = df.drop('customerID', axis=1)

In [17]:
df

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas_Diarias
0,No,Female,0,1,1,9,1,0,DSL,0,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,No,Male,0,0,0,9,1,1,DSL,0,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,Yes,Male,0,0,0,4,1,0,Fiber optic,0,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,Yes,Male,1,1,0,13,1,0,Fiber optic,0,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,Yes,Female,1,1,0,3,1,0,Fiber optic,0,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,No,Female,0,0,0,13,1,0,DSL,1,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,Yes,Male,0,1,0,22,1,1,Fiber optic,0,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,No,Male,0,0,0,2,1,0,DSL,0,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,No,Male,0,1,1,67,1,0,DSL,1,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,No,Male,0,1,1,63,0,No phone service,DSL,1,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

In [32]:
# eliminar desconocido de la columna 'Churn'
df = df[df['Churn'] != 'Desconocido']

In [35]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"{col}: {df[col].unique()}")

Churn: ['No' 'Yes']
gender: ['Female' 'Male']
MultipleLines: ['0' '1' 'No phone service']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['0' '1' 'No internet service']
OnlineBackup: ['1' '0' 'No internet service']
DeviceProtection: ['0' '1' 'No internet service']
TechSupport: ['1' '0' 'No internet service']
StreamingTV: ['1' '0' 'No internet service']
StreamingMovies: ['0' '1' 'No internet service']
Contract: ['One year' 'Month-to-month' 'Two year']
PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

In [36]:
categorical_columns = ['Churn', 'gender', 'MultipleLines', 'InternetService', 
                      'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
                      'TechSupport', 'StreamingTV', 'StreamingMovies', 
                      'Contract', 'PaymentMethod']

In [37]:
df_encoded = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [38]:
df_encoded

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,Charges.Monthly,Charges.Total,Cuentas_Diarias,Churn_Yes,...,TechSupport_No internet service,StreamingTV_1,StreamingTV_No internet service,StreamingMovies_1,StreamingMovies_No internet service,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,1,9,1,1,65.60,593.30,2.186667,False,...,False,True,False,False,False,True,False,False,False,True
1,0,0,0,9,1,0,59.90,542.40,1.996667,False,...,False,False,False,True,False,False,False,False,False,True
2,0,0,0,4,1,1,73.90,280.85,2.463333,True,...,False,False,False,False,False,False,False,False,True,False
3,1,1,0,13,1,1,98.00,1237.85,3.266667,True,...,False,True,False,True,False,False,False,False,True,False
4,1,1,0,3,1,1,83.90,267.40,2.796667,True,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,0,0,0,13,1,0,55.15,742.90,1.838333,False,...,False,False,False,False,False,True,False,False,False,True
7263,0,1,0,22,1,1,85.10,1873.70,2.836667,True,...,False,False,False,True,False,False,False,False,True,False
7264,0,0,0,2,1,1,50.30,92.75,1.676667,False,...,False,False,False,False,False,False,False,False,False,True
7265,0,1,1,67,1,0,67.85,4627.65,2.261667,False,...,False,False,False,True,False,False,True,False,False,True
7266,0,1,1,63,0,0,59.00,3707.60,1.966667,False,...,False,True,False,True,False,False,True,False,True,False

In [39]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   Partner                                7043 non-null   int64
 2   Dependents                             7043 non-null   int64
 3   tenure                                 7043 non-null   int64
 4   PhoneService                           7043 non-null   int64
 5   PaperlessBilling                       7043 non-null   int64
 6   Charges.Monthly                        7043 non-null   float64
 7   Charges.Total                          7043 non-null   float64
 8   Cuentas_Diarias                        7043 non-null   float64
 9   Churn_Yes                              7043 non-null   bool
 10  gender_Male                            7043 non-null   bool
 11  MultipleLines_1                        7043 non-null   bool
 12  MultipleLines_No phone service         7043 non-null   bool
 13  InternetService_Fiber optic            7043 non-null   bool
 14  InternetService_No                     7043 non-null   bool
 15  OnlineSecurity_1                       7043 non-null   bool
 16  OnlineSecurity_No internet service     7043 non-null   bool
 17  OnlineBackup_1                         7043 non-null   bool
 18  OnlineBackup_No internet service       7043 non-null   bool
 19  DeviceProtection_1                     7043 non-null   bool
 20  DeviceProtection_No internet service   7043 non-null   bool
 21  TechSupport_1                          7043 non-null   bool
 22  TechSupport_No internet service        7043 non-null   bool
 23  StreamingTV_1                          7043 non-null   bool
 24  StreamingTV_No internet service        7043 non-null   bool
 25  StreamingMovies_1                      7043 non-null   bool
 26  StreamingMovies_No internet service    7043 non-null   bool
 27  Contract_One year                      7043 non-null   bool
 28  Contract_Two year                      7043 non-null   bool
 29  PaymentMethod_Credit card (automatic)  7043 non-null   bool
 30  PaymentMethod_Electronic check         7043 non-null   bool
 31  PaymentMethod_Mailed check             7043 non-null   bool
dtypes: bool(23), float64(3), int64(6)
memory usage: 708.4 KB

In [40]:
# Verificacion de la proporcion de cancelación.
churn_counts = df_encoded['Churn_Yes'].value_counts(normalize=True).round(4) * 100
churn_counts

Churn_Yes
False    73.46
True     26.54
Name: proportion, dtype: float64